<div class='lg:w-5/12 h-full'>
  <div
    class='grid grid-cols-3 gap-0 h-full w-96 place-content-center border-collapse relative'
  >
    {{#each @cellsData as |cell i|}}
      <div
        class='w-32 h-32 overflow-hidden border cursor-pointer leading-8 text-xl border-green-600 flex justify-center items-center'
        {{on 'click' (fn this.onCellClick i cell)}}
      >
        <div class='w-full text-center text-4xl'>
          {{cell}}
        </div>
      </div>
    {{/each}}
    {{#if (or (not (and @player1Name @player2Name)) @statusDisplay)}}
      <div class='highlighted-disabled-overlay'>
        <div class='disabled-overlay-content text-center'>
          <div class='overlay-content-pill p-4 bg-light rounded'>
            <p class='text-xs mb-0'>
              {{@statusDisplay}}
            </p>
          </div>
        </div>
      </div>
    {{/if}}
  </div>
</div>