<nav class='bg-white nav shadow dark:bg-gray-800'>
  <div class='px-3 md:px-6 body py-3 mx-auto md:flex md:justify-between md:items-center'>
    <div class='flex items-center justify-between'>
      <div
        class='text-xl  font-bold text-gray-800 dark:text-white md:text-2xl hover:text-gray-700 dark:hover:text-gray-300'
      >
        Tic Tac Toe Game
      </div>
    </div>
  </div>
</nav>